@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

* {
  margin: 0; padding: 0; box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #333;
}

.clock-display {
  width: 250px;
  margin: 48px auto;
  padding: 24px;
  text-align: center;
  background-color: #f1c40f;
  font-size: 2rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.clock {
  margin: 0 auto;
  padding: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.today {  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 18px;
  padding: 8px;
  top: 5px;
  margin-bottom: 24px;
  background: #242424;
  color: #ffffff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.today input {
  width: 100%;
  background: #414040;
  border: none;
  border-bottom: 1px solid #f1c40f;
  padding: 8px 12px;
  color: #ffffff;
  font-size: 20px;
}

.calendar-box {
  margin: 24px;
}