@import url('https://fonts.googleapis.com/css2?family=Molengo&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Molengo',
    sans-serif;
  font-size: 1rem;
  background: rgb(34, 34, 34);
  color: #fff;
}

.container {
  max-width: 1080px;
  width: 100%;
  margin: 48px auto;
  text-align: center;
}

img {
  width: 100%;
}

.gallery {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.image-box {
  background-color: palegreen;

  .controls {
    padding: 12px;

    input {
      padding: 4px 8px;
      background: rgb(114, 154, 161);
      color: #000;
      border-radius: 3px;
      border: none;
      font-weight: bold;
      font-size: 0.6rem;
      cursor: pointer;
      outline: none;

      &:active {
        background: rgb(28, 68, 77);
         color: rgb(114, 154, 161);
      }
    }
  }
}

.image-container {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;

  .image-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

    .image-front,
    .image-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }

    .image-front {
      background-color: #bbb;
      color: black;
    }

    .image-back {
      background-color: rgb(0, 0, 0);
      color: white;
      transform: rotateY(180deg);
      padding: 18px;
      
      & h3 {
        padding: 8px 0;
      }
    }
  }
}

// FLIP ANIMATION
.flip-horizontal .image-inner {
  transform: rotateY(180deg);
}

.flip-vertical .image-inner {
  transform: rotateX(180deg);
}

.flip-rotate .image-inner {
  transform: rotate(180deg);
}

